@import "./utils/variables.scss";
@import "./utils/functions.scss";
@import "./utils/mixins.scss";
@import "./utils/extensions.scss";
@import "./base/typography.scss";
@import "./layouts/header.scss";
@import "./layouts/nav.scss";
@import "./layouts/container.scss";
@import "./pages/page-2.scss";
@import "./pages/page-4.scss";
@import "./pages/page-3.scss";

.body__bloc-page {
    max-width: 375px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "section"
    "footer";
    grid-auto-flow: column;
    font-family: 'Roboto', sans-serif;
}


a{
    text-decoration: none;
}