body{
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "section"
    "footer";
    grid-auto-flow: column;
    font-family: 'Roboto', sans-serif;
    @include titles-primary-color;
    @include desktop-only{
        grid-template-columns: 4fr;
        max-width: 100%;
    }
    @include tab-only{
        max-width: 100%;
    }
}

.logo--hover{
    @include heart-icon;
}

.bloc-page{
    position: relative;
}

.btn--purple-explorer-container{
  margin-bottom: 3.438rem;
}

.btn--purple-explorer{
    @include main-btn;
    padding: 1.031rem 1.25rem;
    
    opacity: 1;
    transition: all 200ms;
    &:hover{
      opacity: 0.85;
      box-shadow: 0rem 0.313rem 1.25rem 0rem rgb(122, 122, 122);
    }
}

.btn--purple-order{
    @include main-btn;
    margin-top: 1.875rem;
    padding: 0.938rem 3.125rem;
    margin-bottom: 3.438rem;
    opacity: 1;
    &:hover{
      opacity: 0.85;
      box-shadow: 0rem 0.313rem 1.25rem 0rem rgb(122, 122, 122);
    }
}


/*loading*/

.loading-container{
  height: 100%;
  position:fixed;
  top: 0;
  bottom:0;
  right:0;
  left:0;
  z-index: 4;
  margin: auto;
  animation: loading-transition 3s 3s linear both ;
  background-color:white;
  
}
  
  .loading::after {
    content: "";
    width: 5.625rem;
    height: 5.625rem;
    border: 0.625rem solid $tertiary-color;
    border-top-color: $primary-color;
    border-bottom-color: $primary-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    z-index: 1;
    transform: rotate(0.16turn);
    animation: loading 3000ms 150ms infinite cubic-bezier(.9,0,.1,1);
   
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    
    to {
      transform: rotate(1turn);
    }
  }
  
  @keyframes loading-transition {
    from {
      opacity: 0.9;
      visibility: visible;
    }
    
    to {
      opacity:0;
      visibility:hidden;
    }
  }