body{
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "section"
    "footer";
    grid-auto-flow: column;
    font-family: 'Roboto', sans-serif;
    @include titles-primary-color;
    @include desktop-only{
        grid-template-columns: 4fr;
        max-width: 100%;
    }
    @include tab-only{
        max-width: 100%;
    }
}

.logo--hover{
    @include heart-icon;
}

.bloc-page{
    position: relative;
}

.btn--purple-explorer{
    @include main-btn;
    padding: 1.031rem 1.25rem;
    margin-bottom: 3.438rem;  
}

.btn--purple-order{
    @include main-btn;
    margin-top: 1.875rem;
    padding: 0.938rem 3.125rem;
    margin-bottom: 3.438rem;  
}
