@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

h1{
    height: 1.75rem;
    margin:1.25rem 0 0.625rem 0;
}

h1,.footer__title {
    font-family: 'Shrikhand', sans-serif;
}

a {
    text-decoration: none;
    color: $text-primary-color;
}

img {
    object-fit: cover;
}
ul{
    list-style-type: none;
    @include desktop-only{
        @include flex;
        @include flex-space-around;
        @include align-center;
    }

    @include tab-only{
        @include flex;
        @include flex-space-around;
        @include align-center;
    }
    
}

.btn--size{
   @include flex-center;
}

.footer__title{
    color:$text-secondary-color;
}

.bloc--flex{
    @include desktop-only{
        justify-content: end;
    }
    @include flex-center;
    @include flex-column;
    flex-wrap:wrap;
    a{
        @include flex-center;
    }
}