@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

header{
    position: relative;
}

.header__bloc-main-title{
    @include flex;
    @include flex-space-around;
    @include align-center;
    width: 100%;
        a {
            font-size: 1.563rem;
    }
}

.logo--size{
    padding-top: 1.25rem;
}
.header__title{
    width: 85%;
    }

.header__image{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
}

main { 
    background-color: $tertiary-background-color;    
}

.secondary-title{
    background-color: $tertiary-background-color;
    @include flex-center;
    align-items: baseline;
    @include flex-space-around;
    position: relative;
    bottom: 3.75rem;
    z-index:2;
    border-radius:1.875rem 1.875rem 0 0;
}

.secondary-title--margin{
        h2{
            font-family: 'Shrikhand', sans-serif;
            font-size: 1.75rem;
            margin: 2.5rem 0 0 0;
        }
}

.secondary-title__icon{
    margin-right: 1.25rem;
    font-size: 1.375rem;
}
    
article{
    display: grid;
    grid-area: "section";
        h2{
            font-weight: normal;
            text-transform: uppercase;
            margin-bottom: 0.313rem;
        }
}

.article__first-title{
    margin-top: -40px;
}

.article__title{
    @include margin-left;
    h2{
        font-size: $primary-text-size;
    }
}

.article__title-border{
    border: 0.125rem solid $tertiary-color;
    width: 12%;
    margin-bottom: 0.875rem;
}   

.article__cards-containers{
    width: 85%;
    height:3.125rem;
    line-height:0.125rem;
    padding: 1rem 1rem 0 1rem;
    @include cards-model;
    @include flex-between;   
}

.article__column-text{
    width: 87%;
    h3 {
        line-height: 12px;
        margin: 0 0 10px 0;
    } & p {
        margin:0;
        line-height: 16px;
        white-space:nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
    
.article__column-icon{
    @include flex;
    @include align-center;
    font-weight: bold;
    max-height: 2.5rem;
    padding-top: 10px;
        p{
            margin: 0;
        }
}

