@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@keyframes slide-left{
    0%{
        transform: scaleX(0);
    }
    
    5%{transform: scaleX(.05);
    }

    18%{
        transform: scaleX(.18);
    }

    24%{
        transform: scaleX(.24);
    }

    50%{
        transform: scaleX(.50);
    }

    65%{
        transform: scaleX(.65);
    }
    
    80%{
        transform: scaleX(.81);
    }
    
    100%{
        transform: scaleX(1);
    }
}

@keyframes rotate-center{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
        }
    }

@keyframes article__cards-transition{
    0% {
        opacity: 0;
        transform: translateY(-1.25rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

header{
    position: relative;
   
}

.header__bloc-main-title{
    @include flex;
    @include flex-space-around;
    @include align-center;
    width: 100%;
    a {
        font-size: 1.563rem;
    }
}

.logo--size{
    padding-top:0.625rem;
    @include desktop-only{
    padding-top: 1.25rem;
    }
}

.header__title{
    width: 85%;
    @include flex-center;
    img{
        width:10.5rem;
    }
    @include desktop-only{
        width:95%;
    }
}

.header__image-container{
    width: 100%;
}

.header__image{
    @include desktop-only{
        height:25rem;
    }
    z-index: 2;
    position: relative;
    width: 100%;
    height: 15.625rem;
    object-fit: cover;
}

main { 
    background-color: $tertiary-background-color;  
    margin-top:-50px;
    position:relative;
    z-index:5;
    border-radius:1.875rem 1.875rem 0 0;
}

.cards-bloc--flex{
    @include desktop-only{
        @include flex-center;
        width: 100%;
    }
}

.secondary-title{
    @include flex-center;
    @include flex-space-around;
    background-color: $tertiary-background-color;
    align-items: baseline;
    border-radius:1.875rem 1.875rem 0 0;
}

.secondary-title--margin{
    h2{
        font-family: 'Shrikhand', sans-serif;
        font-size: 1.75rem;
        @include desktop-only{
            margin-top: 1.5rem;
        }
    }
}

.secondary-title__icon{
    margin-right: 1.25rem;
    font-size: 1.375rem;
}
    
article{
    display: grid;
    grid-template-areas: "section";
    @include desktop-only{
        display: unset;
    }

    @include desktop-only-small{
        display: unset;
    }

    h2{
        font-weight: normal;
        text-transform: uppercase;
        margin-bottom: 0.313rem;
    }
}

.article__first-title{
    @include desktop-only{
       margin-top:0.938rem;
    }
   
}

.article__title{
    margin-left: 1.25rem;
    h2{
        font-size: $primary-text-size;
    }
    &::after{
        content:"";
        position: absolute;
        z-index:6;
        border: 0.125rem solid $tertiary-color;
        width: 2.7rem;
        @include desktop-only{
            left:inherit;
            right:inherit;
            width: 2.2%;
        }
        @include tab-only{
            width: 8%;
        }    
    }
}  

.article__cards-containers{
    @include cards-model;
    @include flex-between;
    width: 85%;
    max-width: 21.875rem;
    min-height: 4.063rem;
    line-height:0.125rem;
    padding-left: 1rem;
    animation: article__cards-transition 1.5s ease-out 6s normal both;
    transform-origin: right;
    @include desktop-only{
        width: 22.813rem;
        margin: 0.313rem 0.313rem;
    }
    @include desktop-only-small{
        width: 19.875rem;
    }
    @include tab-only{
        max-width: inherit;
        width: 94.5%;
    }
}

.article__column-text{
    width: 80%;
    overflow: hidden;
    h3 { 
        @include elipsis-overflow;
        font-size: 1rem;
        line-height: 1rem;
        margin: 1rem 0 0.625rem 0;
    }  & p {
        @include elipsis-overflow;
        margin: 0;
        font-size: 0.938rem;
        line-height: 0.938rem;  
    }
}
    
.article__column-icon{
    @include flex;
    @include flex-center;
    align-items: flex-end;
    font-weight: bold;
    max-height: 2.5rem;
    padding-top: 0.375rem;
    p{
        margin: 0;
    }       
}

.article-cards__transition-container{ /*main-transition*/
    @include flex-center;
    @include align-center;
    visibility: hidden;
    font-size: $primary-logo-font-size;
    color:transparent;
    background-color: $tertiary-color;
    border-radius:0 1rem 1rem 0;
    padding: 0;
    transform: scaleX(0);
    transform-origin:right;
    transition: 500ms all;
    opacity: 0;
}

.article__cards-containers:hover> .article-cards__transition-container{/*main-transition*/
   visibility: visible;
   transform: scaleX(1);
   min-width: 20%;
   margin-left: 1.25rem;
   opacity: 1;
   transform-origin:right;
   animation: slide-left 450ms linear;
   font-size: $primary-logo-font-size;
   .transition--white-check-icon{
        animation: rotate-center 0.5s ease-in-out both;
        & i{
            color: $text-secondary-color;
            align-self: center;
        }
    }
}