@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@keyframes slide-left{
    0% {
        transform: scaleX(0);
    }
    17% {
        transform: scaleX(.18);
    }
    24% {
        transform: scaleX(.40);
        animation-timing-function: cubic-bezier(.9,0,.1,1);
    }
    46% {
        transform: scaleX(.81);
        animation-timing-function: cubic-bezier(.25,0.25,1);
    }
    100% {
        transform: scaleX(1);
    }
}
  /*@keyframes slide-left {
    0% {
              transform: translateX(-100%);
    }
    100% {
              transform: translateX(0);
    }
  }
  */

@keyframes rotate-center {
0% {
    transform: rotate(0);
}
100% {
    transform: rotate(360deg);
    }
}

@keyframes article__cards-transition {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


header{
    position: relative;
}

.header__bloc-main-title{
    @include flex;
    @include flex-space-around;
    @include align-center;
    width: 100%;
        a {
            font-size: 1.563rem;
    }
}

.logo--size{
    padding-top: 1.25rem;
}
.header__title{
    width: 85%;
    }

.header__image{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
}

main { 
    background-color: $tertiary-background-color;    
}

.secondary-title{
    background-color: $tertiary-background-color;
    @include flex-center;
    align-items: baseline;
    @include flex-space-around;
    position: relative;
    bottom: 3.75rem;
    z-index:2;
    border-radius:1.875rem 1.875rem 0 0;
}

.secondary-title--margin{
        h2{
            font-family: 'Shrikhand', sans-serif;
            font-size: 1.75rem;
            margin: 2.5rem 0 0 0;
        }
}

.secondary-title__icon{
    margin-right: 1.25rem;
    font-size: 1.375rem;
}
    
article{
    display: grid;
    grid-area: "section";
        h2{
            font-weight: normal;
            text-transform: uppercase;
            margin-bottom: 0.313rem;
        }
}

.article__first-title{
    margin-top: -40px;
}

.article__title{
    @include margin-left;
    h2{
        font-size: $primary-text-size;
    }
}

.article__title-border{
    border: 0.125rem solid $tertiary-color;
    width: 12%;
    margin-bottom: 0.875rem;
}   

.article__cards-containers{
    animation: article__cards-transition 3s ease 0.500ms 1 normal forwards;
    width: 85%;
    line-height:0.125rem;
    padding-left: 1rem;
    @include cards-model;
    @include flex-between;
}

.article__column-text{
    
    width: 87%;
 
    h3 {
        line-height: 12px;
        margin: 1rem 0 10px 0;
        
    }  p {
        margin: 0;
        line-height: 16px;
        white-space:nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
    
.article__column-icon{
    @include flex;
    align-items: flex-end;
    font-weight: bold;
    max-height: 2.5rem;
    padding-top: 6px;
    
        p{
            margin: 0;
        }       
}

.article-cards__transition-container{ /*main-transition*/
    display:flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    animation-name: slide-left;
    animation: slide-left 1s steps(4, end) both alternate;
    color: $text-secondary-color;
    background-color: $tertiary-color;
    border-radius:0 15px 15px 0;
    padding: 0;
    transform: right scaleX(1);
    transition:transform;
   
   
}

.article__cards-containers:hover> .article-cards__transition-container{/*main-transition*/
   visibility: visible;
   width: 82px;
   margin-left: 20px;
   
   .transition--white-check-icon{
        animation: rotate-center 0.5s ease-in-out both;
        & i{
            
            align-self: center;
            font-size: $primary-logo-font-size;
        }
   }
}

