@mixin titles-primary-color{
    h1, h2, h3{
    color:$text-primary-color;
    }
}

@mixin text-center{
 text-align: center;
 align-content: center;
}

@mixin align-center{
align-items: center;
}

@mixin flex-center{
    display: flex; 
    justify-content: center;
    align-items: center;
}

@mixin flex-column{
    display: flex; 
    flex-direction:column;
    flex-wrap: wrap;
}

@mixin flex-space-around{
    display: flex; 
    justify-content: space-around;
}

@mixin flex-between{
    display: flex;
    justify-content: space-between;
}

@mixin border-radius{
    border-radius: 1rem;
}

@mixin box-shadow{
    box-shadow: 0 3px 10px rgb(0 0 0 / 5%);
}

@mixin lighten{
    background-color: lighten($btn-background-color, 35%);

}

@mixin padding-right{
    padding-right: 0.75rem;
}

@mixin padding-top{
    padding-top: 0.75rem;
}

@mixin paddings-right-mobile{
    padding-right: 0.93rem;
}

@mixin margin-sides-mobile {
    margin: 0 1.25rem 0 1.25rem;
}

@mixin margin-right{
    margin-right: 1.25rem;
}

@mixin margin-bottom{
    margin-bottom: 3.43rem;
}

@mixin cards-model{
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 3px 10px rgba(0,0,0,.05);
    margin-bottom: .875rem;
    display: flex;
    @include align-center;
    @include box-shadow;
    background-color:$text-tertiary-color;
}


/*responsive-Desktop
@mixin Desktop-only {
      @media screen and (max-width: map-get($breakpoints-desktop, desktop)){
          grid-template-columns: 1fr;
      }
    }
/*responsive-tabs
@mixin Desktop-only {
      @media screen and (max-width: map-get($breakpoints, mobile)){
          grid-template-columns: 1fr;
      }
    }
    */