@mixin titles-primary-color{
    h1, h2, h3{
    color:$text-primary-color;
    font-weight:bold;
    }
}

@mixin text-center{
 text-align: center;
}

@mixin flex-center{
    display: flex; 
    justify-content: center;
    align-items: center;
}

@mixin flex-column{
    display: flex; 
    flex-direction:column;
    flex-wrap: wrap;
}

@mixin flex-space-around{
    display: flex; 
    justify-content: space-around;
}

@mixin flex-between{
    display: flex;
    justify-content: space-between;
}

@mixin border-radius{
    border-radius: 1rem;
}

@mixin box-shadow{
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

@mixin lighten{
    background-color: lighten($btn-background-color, 35%);

}

@mixin padding-right{
    padding-right: 12;
}

@mixin darken-background{
    $primary-background-color: darken($primary-background-color, 10%);
}