@mixin titles-primary-color{
    h1, h2{
    color: $primary-color;
    font-weight:$bold-text
    }
}

@mixin flex-center{
    display: flex; 
    justify-content: center;
}

@mixin border-radius-cards{
    border-radius: 1rem;
}

@mixin box-shadow{
    box-shadow: black;
}