// colors-variables
$primary-color: #9356DC ;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$text-primary-color: #000;
$text-secondary-color:#fff;
$text-tertiary-color:darken(#F2F2F2, 10%); 
$primary-background-color:darken(#F2F2F2, 5%); 
$secondary-background-color: #F2F2F2;
$cards-btn-background-color: $tertiary-color;
$btn-background-color:#9356DC;
$footer-background-color: #000;
$border-color: green;