// colors-variables
$primary-color: #9356DC ;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$text-primary-color: #000;
$text-secondary-color:#fff;
$text-tertiary-color:#F2F2F2;
$primary-background-color:#eaeaea; 
$secondary-background-color:#f6f6f6;
$cards-btn-background-color: $tertiary-color;
$btn-background-color:#9356DC;
$footer-background-color: #000;
$border-color: green;

//responsive

$breakpoints-desktop: (
  desktop: 64rem
  );

  $breakpoints-tab: (
  tab: 64rem
  );