section{
grid-area: "section"
}

.section__cards-containers{
   width: 100%;
   @include border-radius-cards;
}

footer{
    grid-area: "footer";
    background-color: $footer-background-color;
}

h2, p {
    color:$secondary-color;
}

article{
    
}