
.body__bloc-page{

}

section{
    height: 69rem;
    grid-area: "section"
}

.section__cards-containers{
    @include flex-space-around;
    width: 100%;
    @include flex-center;
    @include flex-column;
    @include border-radius-cards;
}





footer{
    grid-area: "footer";
    background-color: $footer-background-color;
}