
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/*key Frames*/
@keyframes blinking-icons {
    0%,
    50%,
    100% {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
  }

section{ 
    background-color: $tertiary-background-color;
    @include flex-column;
    display:grid;
    grid-area: "section";
    padding: 3.75rem 0 4.063rem 0;

        &__cards-text{
            width: 100%;
    }
            h2{
               margin: 0 0 0.313rem 1.25rem;
            }
}

.section__cards-bloc{
    @include flex-center;
    flex-wrap: wrap;
}

.section__cards-containers{
    width: 87%;
    margin-top: 0.875rem;
    background-color: $primary-background-color;
    @include border-radius;
    @include box-shadow;
   
        h3,p{
            line-height: 0.1rem;
            @include align-center;
    }

            .section__cards-containers{
                    @include flex-between;
                    @include align-center;
                    background-color: $primary-background-color;
    }
}

.section__title-cards-container{
    width: 87.5%;
}

.title--flex{
    @include align-center;
    @include flex;
    margin-top: 0.75rem;
    height: 1.12rem;

}

.section__logo{
    font-size: $primary-logo-font-size;
}

.section__cards-text{
    @include margin-left;
    @include border-radius;
    padding-bottom: 0.62rem;
    background-color: $primary-background-color;
}

.section__cards-containers img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    height: 11rem;
    border-radius: 1rem 1rem 0 0;
}

.icon--absolute{
    animation: blinking-icons 4s ease-in-out 0s infinite normal both;
    position: relative;

}

span{
    font-weight: bold;
    font-size: $tertiary-text-size;
    background-color: $tertiary-color;
    color: #008766;
    position: absolute;
    top: 0.875rem; right: 0.75rem;
    border-radius: 0.125rem;
    padding:0.563rem 0.719rem;
   
}

footer{
    color: $text-secondary-color;
    background-color:$footer-background-color;
    display: grid;
    grid-area: "footer";
    background-color: $footer-background-color;
        & ul li{
            line-height: 0.62rem;
            margin-bottom: 0.62rem;
            font-size:$secondary-text-size;
        }
}

.icon--margin-1{
    margin: 0 0.938rem 0 0;
}
.icon--margin-2{
    margin: 0 0.625rem 0 0;
}
.footer__title{
    font-size: $primary-text-size;
    margin: 0 0 1.56rem 0;
}

.link--white{
    color: $text-secondary-color;
}

