
header{
    grid-area: header;
}

.header__logo{

}

.header__localization-bloc{
    
}

.btn--purple{
color: $text-secondary-color;
background-color: $btn-background-color;
@include box-shadow;
@include border-radius;
}