@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


header{
    @include text-center;
    display: grid;
    grid-template-areas:  "header";
    .header__localization-bloc{
        @include flex-center;
        align-items: baseline;
        color: #353535;
        font-weight: bold;
        box-shadow: 0 0.188rem 0.188rem 0 rgba(0,0,0,0.05) inset;
        background-color: $secondary-background-color;
        padding-right: 2.188rem;
    }& i{
            margin-right: 0.625rem;
            padding-bottom:1.25rem;
        }
}

.header__logo{
    @include flex-center;
    padding: 1.25rem 0 0.625rem 0;
    img{
        width:10.5rem;
    }
}

.background--grey{
    @include flex-center;
    background-color:$tertiary-background-color;
    flex-wrap: wrap;
    h2{ 
        font-size: 1.5rem;
        margin:  2.5rem 0 1.25rem 0;
        width: 70%;
    }
    p{ 
        @include desktop-only{
          width:100%;
        }
        @include tab-only{
            width:100%;
        }
        margin: 0 0 2.188rem;
        width: 76%;
    }
}

