
header{
    @include text-center;
    display: grid;
    grid-area: header;

    .header__localization-bloc{
        @include flex-center;
        @include align-center;
        font-weight: bold;
        box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05) inset;
        background-color: $secondary-background-color;
    }
        .header__localization-bloc i{
            @include padding-right;
    }
}

.header__logo{
    @include flex-center;
}

.background--grey{
    background-color:$tertiary-background-color;
    @include padding-top;
}

.btn--purple{
    @include flex-center;
    @include main-btn;

        &-container{
            @include flex-center;
        }
}