nav{
    @include margin-sides-mobile;
    display: grid;
    grid-area: "nav";
    @include titles-primary-color;
        ul li{
            font-weight: bold;
    }
}

.nav__icon{
    @include flex-between;
        color: $text-tertiary-color;
            &:hover{
                color: $primary-color;
    }
}

ul li {
    list-style-type: none;
}

.nav__container{
    height: 17.2rem;
    @include flex-between;
    @include flex-column;
}

.nav__cards-container{
    @include border-radius;
    @include box-shadow;
    @include flex-space-around;
    height: 4.688rem;
    @include align-center;
        &:hover{
            background-color: $btn-background-color;
            @include lighten;
            }  
}