nav{
    grid-area: "nav";
    .nav__container{

    }
    
@include titles-primary-color;
    ul li{
        font-weight: bold;
    }

    ul li:hover{
    color: $main-menu-background-color;
    }
}

ul li {
    list-style-type: none;
}