nav{
    grid-area: "nav";
    @include titles-primary-color;
    ul li{
        font-weight: bold;
    }
    ul li:hover{
    background-color: $btn-background-color;
    @include lighten;
    }
}

ul li {
    list-style-type: none;
}

.nav__cards-container{
    @include border-radius;
    @include box-shadow;
    height: 1rem;
}